ReaderAppBackend/app/files
__pycache__
scholarphi
backend/data/node_utils/node_modules
backend/downloads
backend/data/node_utils/store
backend/data/node_utils/graph
backend/api/similarity/datasets.json
backend/api/similarity/evaluation-tables.json
backend/api/similarity/ml_terms.json
backend/data/search_indexing/cskg_resources.ann
backend/data/search_indexing/wiki_pages.ann
backend/data/output.csv
backend/data/resources_spaced.json
backend/data/resources.json
backend/data/resources_index.ann
backend/data/kg/aikg_lines.txt
backend/data/kg/aikg_resources.json
backend/data/kg/aikg.ttl
backend/api/similarity/indexes/wiki_pages.ann
backend/api/similarity/indexes/wiki_pages.json
backend/api/similarity/all_entities_index.ann
backend/api/similarity/all_entities.json
backend/api/similarity/average_vec.pickle
backend/api/similarity/cosine_similarites.pickle
backend/api/similarity/cosine_similarities.json
backend/api/similarity/entities_index.ann
backend/api/similarity/ml_terms.ann
backend/api/similarity/spans_index.ann
backend/api/similarity/spans.json
backend/api/similarity/test.json
ReaderAppBackend/backend/api/ml_models
backend/api/ml_models
backend/api/similarity/files/
reader-app-web/.env.development
reader-app-web/.env.production
ReaderAppBackend/temp.py
ReaderAppBackend/test.json
